<vstack spacing="16">
  <text font="largeTitle">Counter: <%= @counter %></text>
  <hstack spacing="12">
    <button action="decrement">-</button>
    <button action="increment">+</button>
  </hstack>
</vstack>